[Unit]
Description=Argos Development Server
After=network.target

[Service]
Type=simple
User=__SETUP_USER__
Group=__SETUP_USER__
WorkingDirectory=__PROJECT_DIR__
EnvironmentFile=__PROJECT_DIR__/.env
Environment="NODE_ENV=development"
Environment="NODE_OPTIONS=--max-old-space-size=1024"
Environment="CI=true"
ExecStart=/usr/bin/npm run dev
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=argos-logs

[Install]
WantedBy=multi-user.target
