[Unit]
Description=Argos DroneID Backend (RemoteIDReceiver)
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/projects/Argos/RemoteIDReceiver/Receiver
ExecStartPre=/bin/sleep 10
ExecStart=/home/ubuntu/projects/Argos/RemoteIDReceiver/Receiver/venv/bin/python3 /home/ubuntu/projects/Argos/RemoteIDReceiver/Receiver/backend/dronesniffer/main.py -p 80
Restart=on-failure
RestartSec=5
StandardOutput=append:/home/ubuntu/projects/Argos/droneid.log
StandardError=append:/home/ubuntu/projects/Argos/droneid.log
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target