[Unit]
Description=Argos DroneID Backend (RemoteIDReceiver)
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/kali/Documents/Argos/RemoteIDReceiver/Receiver
ExecStartPre=/bin/sleep 10
ExecStart=/home/kali/Documents/Argos/RemoteIDReceiver/Receiver/venv/bin/python3 /home/kali/Documents/Argos/RemoteIDReceiver/Receiver/backend/dronesniffer/main.py -p 80
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=argos-droneid
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
