[Unit]
Description=GSM Evil Socket.IO Patch Service
Before=gsmevil.service

[Service]
Type=oneshot
ExecStart=/bin/bash __PROJECT_DIR__/scripts/ops/patch-gsmevil-socketio.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
